# Ignore txt files since they can be very huge.
*.txt

# Ignore executable and objective files.
*.out
*.o

*.jpg
*.JPEG

# The output `manifold` executable file is to be ignored.
manifold
hypercube
jpeg_loader