Pattern_weight++ && mix different color retina nodes into one

===========
| Category Index   | Accumulated Prob Score | Accumulated Match Percentage | Hit Vertex Count | Excited Vertex Count |
|                0 |           323370 |         0.975194 |          2144781 |          2199338 |
|                1 |          41637.8 |         0.895385 |          1969254 |          2199338 |
|                2 |          14627.9 |         0.871407 |          1916518 |          2199338 |
|                3 |            30204 |         0.776752 |          1708341 |          2199338 |
|                4 |          23008.3 |         0.764318 |          1680994 |          2199338 |
|                5 |          15185.6 |         0.808438 |          1778028 |          2199338 |
|                6 |          12212.9 |         0.828467 |          1822079 |          2199338 |
|                7 |          8329.14 |         0.879722 |          1934806 |          2199338 |
|                8 |          10509.6 |         0.932842 |          2051635 |          2199338 |
|                9 |          58967.2 |           0.8699 |          1913204 |          2199338 |
|               10 |                0 |                0 |                0 |                0 |
The best matched category is 0, with prob_score: 357.754761 
The best matched category in accumulated probability_score_list is 0, with prob_score: 323369.500000 

---------------------------------
Pattern_weight += energy && mix different color retina nodes into one

===========
| Category Index   | Accumulated Prob Score | Accumulated Match Percentage | Hit Vertex Count | Excited Vertex Count |
|                0 |      2.96196e+06 |         0.975194 |          2144781 |          2199338 |
|                1 |      5.58239e+06 |         0.895385 |          1969254 |          2199338 |
|                2 |      7.14682e+06 |         0.871407 |          1916518 |          2199338 |
|                3 |      1.25626e+07 |         0.776752 |          1708341 |          2199338 |
|                4 |      1.62069e+07 |         0.764318 |          1680994 |          2199338 |
|                5 |      9.39107e+06 |         0.808438 |          1778028 |          2199338 |
|                6 |      7.27837e+06 |         0.828467 |          1822079 |          2199338 |
|                7 |      5.33721e+06 |         0.879722 |          1934806 |          2199338 |
|                8 |      5.01402e+06 |         0.932842 |          2051635 |          2199338 |
|                9 |      3.76317e+07 |           0.8699 |          1913204 |          2199338 |
|               10 |                0 |                0 |                0 |                0 |
The best matched category is 9, with prob_score: 51358.312500 
The best matched category in accumulated probability_score_list is 9, with prob_score: 37631712.000000 

---------------------------------
Pattern_weight += energy && different color retina nodes flatted into 1-d array && `runs` is 5

===========
| Category Index   | Accumulated Prob Score | Accumulated Match Percentage | Hit Vertex Count | Excited Vertex Count |
|                0 |          69683.8 |         0.892533 |            63128 |            70729 |
|                1 |           105727 |         0.861188 |            60911 |            70729 |
|                2 |          94939.5 |         0.636684 |            45032 |            70729 |
|                3 |           124149 |         0.721232 |            51012 |            70729 |
|                4 |           132547 |         0.581402 |            41122 |            70729 |
|                5 |           146769 |         0.556052 |            39329 |            70729 |
|                6 |           241127 |         0.409521 |            28965 |            70729 |
|                7 |           219439 |         0.553875 |            39175 |            70729 |
|                8 |           110703 |          0.50767 |            35907 |            70729 |
|                9 |           300116 |         0.379745 |            26859 |            70729 |
|               10 |                0 |                0 |                0 |                0 |
The best matched category is 9, with prob_score: 77593.820312 
The best matched category in accumulated probability_score_list is 9, with prob_score: 300116.406250 

---------------------------------
Pattern_weight++ && different color retina nodes flatted into 1-d array && `runs` is 5

===========
| Category Index   | Accumulated Prob Score | Accumulated Match Percentage | Hit Vertex Count | Excited Vertex Count |
|                0 |          20674.4 |         0.892533 |            63128 |            70729 |
|                1 |          12562.5 |         0.861188 |            60911 |            70729 |
|                2 |          6146.42 |         0.636684 |            45032 |            70729 |
|                3 |          6134.85 |         0.721232 |            51012 |            70729 |
|                4 |          4545.19 |         0.581402 |            41122 |            70729 |
|                5 |          3413.89 |         0.556052 |            39329 |            70729 |
|                6 |          4423.82 |         0.409521 |            28965 |            70729 |
|                7 |          3456.46 |         0.553875 |            39175 |            70729 |
|                8 |          2584.07 |          0.50767 |            35907 |            70729 |
|                9 |          4435.59 |         0.379745 |            26859 |            70729 |
|               10 |                0 |                0 |                0 |                0 |
The best matched category is 0, with prob_score: 1415.273560 
The best matched category in accumulated probability_score_list is 0, with prob_score: 20674.388672 


Image index: 1 && runs is 5

===========
| Category Index   | Accumulated Prob Score | Accumulated Match Percentage | Hit Vertex Count | Excited Vertex Count |
|                0 |           842403 |          0.80611 |           794649 |           985782 |
|                1 |      5.88344e+06 |         0.863739 |           851458 |           985782 |
|                2 |                0 |                0 |                0 |                0 |
|                3 |                0 |                0 |                0 |                0 |
|                4 |                0 |                0 |                0 |                0 |
|                5 |                0 |                0 |                0 |                0 |
|                6 |                0 |                0 |                0 |                0 |
|                7 |                0 |                0 |                0 |                0 |
|                8 |                0 |                0 |                0 |                0 |
|                9 |                0 |                0 |                0 |                0 |
|               10 |                0 |                0 |                0 |                0 |
The best matched category is 1, with prob_score: 4521584.000000 
The best matched category in accumulated probability_score_list is 1, with prob_score: 5883435.000000 
